:root {
  --blackColor: #000000;
  --whiteColor: #ffffff;
  --fontColor: #8690a0;
  --purple: #844be0;
  --primary: #00986e;
  --secondery200: #abb3be;
  --radios: 12px;
  --gapFlex: 16px;
}
p {
  color: var(--fontColor);
}
.text h2 {
  font-size: 26px;
  margin-bottom: 5px;
}
.flex {
  display: flex;
  align-items: center;
}
/* the main contact */
.hero {
  padding: 20px 30px;
}

.heroNav {
  justify-content: space-between;
}

.box1,
.box2 {
  gap: var(--gapFlex);
}

/* calender & button box  */
.calender {
  background-color: var(--whiteColor);
  color: var(--fontColor);
  gap: calc(var(--gapFlex) - 10px);
  border: solid 1px var(--fontColor);
  font-weight: 500;
  font-size: 16px;
}
.calender,
.mainBtn {
  border-radius: var(--radios);
  padding: 10px;
  cursor: pointer;
}

.mainBtn {
  color: var(--whiteColor);
  background-color: var(--purple);
}
.mainBtn:hover {
  background-color: #7634e0;
}
/* .dashboard-table start here */
.dashboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 20px;
  background-color: var(--whiteColor);
  position: relative;
  z-index: 200;
}

.menuDropdown {
  position: absolute;
  padding: 10px 20px 10px 0;
  border-radius: 12px;
  z-index: 5000;
  background-color: var(--whiteColor);
  box-shadow: 0 5px 10px #00000055;
  right: 10%;
  top: 30%;
  text-align: left;
}
.menuDropdown p {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}
.menuDropdown .delete {
  color: red;
}

.dashboard-table th,
.dashboard-table td {
  padding: 12px 16px;
  text-align: left;
}

/*  border bottom row  */
.dashboard-table tr:not(:last-child) td {
  border-bottom: 1px solid var(--secondery200);
}
.dashboard-table th {
  background-color: #d9d9d933;
  color: var(--fontColor);
  font-weight: 500;
}
.dashboard-table .id {
  color: var(--purple);
}
/* background the font not the table  */
.dashboard-table .type {
  color: var(--purple);
  background-color: #7634e02b;
  padding: 5px;
  border-radius: 12px;
}
/* status in configured and not configured */
.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.configured {
  background-color: var(--whiteColor);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.notConfigured {
  background-color: var(--whiteColor);
  color: var(--fontColor);
  border: 1px solid var(--fontColor);
}

.optionsButton {
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .heroNav {
    flex-direction: column;
    gap: var(--gapFlex);
  }
}
