body{
  background-color: #ebeef4;
}

.App {
  text-align: center;
}



li {
  list-style: none;
}
a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  border: none;
}
input:focus-visible {
  border: none;
  outline: none;
}
button{
  outline: none;
  border: none;
}
